APP_HOST_PORT=80

POSTGRES_DB=mon_mariage
POSTGRES_USER=mon_mariage
POSTGRES_PASSWORD=replace-with-strong-password

BACKEND_PORT=3000
CLIENT_ORIGIN=https://mon-mariage.fr
DB_NAME=mon_mariage
DB_USER=mon_mariage
DB_PASSWORD=replace-with-strong-password
DB_SSL=false
