FRONTEND_HOST_PORT=8081
BACKEND_HOST_PORT=3001

POSTGRES_DB=mon_mariage
POSTGRES_USER=mon_mariage
POSTGRES_PASSWORD=replace-with-strong-password

BACKEND_PORT=3000
CLIENT_ORIGIN=https://your-domain.com
DB_NAME=mon_mariage
DB_USER=mon_mariage
DB_PASSWORD=replace-with-strong-password
DB_SSL=false
