FRONTEND_HOST_PORT=9003
BACKEND_HOST_PORT=3007
PUBLIC_DOMAIN=mon-mariage.duckdns.org

POSTGRES_DB=mon_mariage
POSTGRES_USER=mon_mariage
POSTGRES_PASSWORD=replace-with-strong-password

BACKEND_PORT=3000
CLIENT_ORIGIN=https://mon-mariage.duckdns.org
DB_NAME=mon_mariage
DB_USER=mon_mariage
DB_PASSWORD=replace-with-strong-password
DB_SSL=false
DB_SYNCHRONIZE=true

SESSION_SECRET=replace-with-at-least-32-random-characters
PRIVATE_EVENT_CODE=replace-with-private-event-code
BOOTSTRAP_ORGANIZER_EMAIL=jeancdfpro@gmail.com
BOOTSTRAP_ORGANIZER_PASSWORD=escayrac2027
WEDDING_DATE=2027-07-16
WEDDING_PLACE=Escayrac
